<% include ./partials/header %>

<div class="ui main text container">
  <div class="ui huge header">
    LA BLOG
  </div>
  <div class="ui top attached segment">
    <div class="ui divided items"> 

      </div>
      <% blogs.forEach(function(blog){ %>
        <div class="item">
          <div>
          <div class="image"></div>
            <img class="scott" src="<%= blog.image %>" width="80%" height="auto"/>
          </div>

          <div class="content">
            <a class="header" href="/blogs/<%= blog._id%>"><%=blog.title%></a>
            <div class="meta">
              <span><%= blog.create.toDateString() %></span>
            </div>
            <div class="description">
            
            </div>
          </div>
          <h2><%= blog.title %></h2>

    <p>
    <div class="ui labeled button" tabindex="0">
      <div class="ui red button">
        <i class="heart icon"></i> Like
      </div>
      <a class="ui basic red left pointing label">
        <%- Math.round(Math.random()*100) %>
      </a>
    </div>
    </p>

    <div class="description"><p><%= blog.body.substring(0,100) %> ...</p></div>
    <div class="extra">
      <a class="ui floaded basic violet button" href="/blogs/<%= blog._id%>">
        Read More
        <i class="right chevron icon"></i>
      </a>
    </div>
    <div class="ui divider"></div>
    </div>
    <% }) %> 
    </div>
  </div>



<% include ./partials/footer %>
