<% include ./partials/header %>
<div class="ui container">
  <div class="ui huge header" align="center">
    LA BLOG
  </div>
    <div class="ui divided items"> 
      <% blogs.forEach(function(blog){ %>
      <div class="item">
      <div class="ui large image">
        <img src="<%= blog.image %>">
      </div>
      <div class="content">
        <div class="header"><%= blog.title %></div>
        <div class="meta">
          <span class="cinema">Posted on <%= blog.create.toDateString() %></span>
        </div>
        <div class="description">
          <p><%= blog.body.substring(0,100) %> ...</p>
        </div>

        <div class="extra">
        <a href="/blogs/<%= blog._id%>">          
          <div class="ui right floated button">
            Read More
            <i class="right chevron icon"></i>
          </div>
        </a>
      </div>
      </div>
    </div>
      <% }) %> 
    </div>
  </div>

<% include ./partials/footer %>

